@media ( min-width: 320px) {
    #lettersDiv {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #lettersDiv span {
        background-color: indianred;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        margin: 5px;
        padding: 15px;
        width: auto;
        height: auto;
    }
    #lettersDiv span:nth-last-child(1) {
        display: none;
    }
    textarea {
        width: 300px;
    }
    #countButton {
        width: 166px;
        height: 42px;
        text-align: center;
        background: bisque;
        color: black;
        font-style: oblique;
    }
}

@media ( min-width: 700px) {
    #lettersDiv {
        max-width: 450px;
    }
    #lettersDiv span:nth-last-child(1) {
        display: none;
    }
    textarea {
        width: 600px;
    }
}

@media ( min-width: 1900px) {
    #lettersDiv {
        max-width: 450px;
    }
    textarea {
        width: 800px;
    }
}